:root {
  --primary-color: #002e74;
  --accent-color: #1d6dec;
  --grey-color: #4f4f53;
  --black-color: #000;
  --white-color: #fff;
  --background-color: #f5f5f5;
  --background-second-color: #e5e5e5;
  --rating-badge-color: #f2dbb1;
  --rating-score-color: #dd9115;
  font-family: 'DM Sans', Arial, sans-serif;
  font-size: 18px;
}

/* TEXT STYLES */
h1,
.our-platform-title,
.travel-plans-heading,
.testimonial-heading {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h1,
h2,
h3,
.banner-content-section,
.our-platform-title,
.our-platform-text {
  line-height: normal;
}

h4 {
  font-size: 20px;
}

h5,
.rating-star {
  font-size: 14px;
}

.banner-content-section,
.statistic-section,
.info-section {
  text-align: center;
}

.header-navigation-section,
.primary-button,
.banner-button,
.our-platform-text,
.travel-plans-text,
.price-wrapper p,
.testimonial-person-info-wrapper p,
.secondary-button,
.top-footer-logo-menu-container p,
.footer-menu-items a,
.bottom-footer-section p,
.bottom-footer-navigation-items a {
  font-size: 16px;
}

.our-platform-section p,
.travel-plans-info-text-container p,
.price-wrapper p,
.testimonial-person-info-wrapper p,
.start-adventure-text {
  color: var(--grey-color);
}

/* PAGE/SECTION WIDTH */
.hero-section,
.info-section,
.our-platform-section,
footer {
  width: 1400px;
}

/* CENTRING SECTIONS */
.hero-section,
.header-navigation-section,
.banner-content-section,
.info-section,
.info-text-container,
.info-text-wrapper,
.info-section-images-container,
.our-platform-section,
.testimonial-section,
footer {
  margin: 0 auto;
}

/* HEADER SECTION */
.hero-section {
  background: var(--background-color)
    url(./images/places-to-visit-in-bulgaria.jpg);
  height: 772px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-bottom: 80px;
}

.header-navigation-section,
.logo-navigation-container,
.main-menu-items,
.info-section-images-container,
.our-platform-section {
  display: flex;
  align-items: center;
}

.header-navigation-section {
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin-bottom: 140px;
  padding-top: 20px;
}

.logo-navigation-container {
  align-items: center;
}

.logo-navigation-container,
.main-menu-items {
  gap: 48px;
}

.logo-sirma {
  width: 177.49px;
  padding-left: 170px;
}

.main-menu-items a,
.login-button,
.primary-button a,
.banner-button a,
.footer-menu-items a,
.bottom-footer-navigation-items a {
  text-decoration: none;
  color: var(--white-color);
}

.navigation-action-section {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 196px;
  padding-right: 92px;
}

.primary-button,
.banner-button {
  padding: 12px 20px;
  border: none;
  border-radius: 40px;
  background-color: var(--black-color);
}

.banner-content-section {
  width: 608px;
  margin-bottom: 140px;
}

.banner-text-container {
  margin-bottom: 40px;
}

.banner-text-container,
.banner-button a,
.top-footer-logo-menu-container p,
.subscribe-container h4,
.bottom-footer-section p {
  color: var(--white-color);
}

.big-text-banner {
  font-size: 68px;
  margin-bottom: 24px;
}

.statistic-section {
  display: flex;
  justify-content: space-around;
  color: var(--white-color);
}

/* MAIN SECTION */
/* explore bulgaria section*/
.info-section,
.our-platform-section,
.travel-plans-section {
  margin-bottom: 160px;
}

.info-text-container {
  width: 680px;
}

.biggest-page-title {
  margin-bottom: 24px;
}

.explore-bulgaria-text {
  width: 460px;
  margin-bottom: 40px;
}

.info-section-images {
  position: relative;
}

.info-section-images img {
  width: 430px;
  height: 400px;
  object-fit: cover;
  border-radius: 16px;
}

.image-shadow::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 40%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.info-section-images-container {
  width: 1338px;
  justify-content: space-between;
}

.image-text-container {
  position: absolute;
  bottom: 40px;
  left: 32px;
  width: 120px;
  text-align: left;
  z-index: 1;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
  color: var(--white-color);
}

.travel-plans-text {
  width: 690px;
  margin-bottom: 40px;
}

.travel-plans-image-container {
  margin-bottom: 40px;
}

/* our platform section */
.our-platform-section {
  justify-content: space-between;
}

.our-platform-text-container {
  width: 589px;
  margin-left: 31px;
}

.our-platform-text-wrapper,
.our-platform-article-wrapper {
  margin-bottom: 48px;
}

.our-platform-text-container article {
  margin-bottom: 24px;
}

.our-platform-article {
  display: flex;
  gap: 24px;
  width: 397px;
}

.pointer-icon-wrapper,
.suitcase-icon-wrapper,
.direction-icon-wrapper {
  width: 34px;
  height: 34px;
  padding: 16px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--background-color);
}

.our-platform-image {
  width: 576px;
  height: 480px;
  object-fit: cover;
  border-radius: 16px;
  margin-right: 31px;
}

/* travel plans section */
.travel-plans-heading {
  margin-bottom: 16px;
}

.background-color-image-info-container {
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 8px;
  width: 414px;
  height: 119px;
  border-radius: 16px;
  background-color: var(--white-color);
}

.image-info-text-wrapper {
  margin: 16px;
  text-align: left;
}

.info-text-image-paragraph {
  margin-bottom: 4px;
}

.price-rating-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 382px;
  margin: 0 auto;
}

.price-wrapper {
  display: flex;
  align-items: baseline;
}

.rating-wrapper {
  width: 54px;
  padding: 2px 4px;
  border-radius: 48px;
  background-color: var(--rating-badge-color);
}

.rating-score {
  display: inline-block;
  vertical-align: baseline;
  font-weight: bold;
  color: var(--rating-score-color);
}

/* TESTIMONIAL SECTION */
.testimonial-section {
  width: 1248px;
}

.testimonial-heading {
  width: 720px;
  margin: 0 auto 40px auto;
  text-align: center;
}

.testimonial-quotes-container {
  display: flex;
  gap: 24px;
}

.testimonial-cart {
  width: 400px;
  padding: 32px;
  margin-bottom: 80px;
  border: 1px solid var(--background-second-color);
  border-radius: 16px;
}

.testimonial-quote {
  width: 336px;
  height: 180px;
  margin-bottom: 29px;
  quotes: '"' '"';
}

.testimonial-quote::before {
  content: open-quote;
}

.testimonial-quote::after {
  content: close-quote;
}

.testimonial-person-info-wrapper h4 {
  margin-bottom: 4px;
}

.testimonial-person-image {
  margin-bottom: 8px;
}

/* START ADVENTURE SECTION */
.start-adventure-section {
  display: flex;
  justify-content: space-between;
  width: 1088px;
  padding: 64px;
  margin: 0 auto 80px auto;
  border-radius: 16px;
  background-color: var(--background-color);
}

.start-adventure-text-container {
  width: 548px;
}

.start-adventure-title {
  margin-bottom: 16px;
}

.start-adventure-button-container {
  display: flex;
  gap: 12px;
  width: 342px;
  height: 45px;
}

.secondary-button {
  padding: 12px 20px 12px 20px;
  border: 1px solid var(--black-color);
  border-radius: 40px;
  background-color: var(--background-color);
}

.secondary-button a {
  font-weight: 600;
  text-decoration: none;
  color: var(--black-color);
}
